.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5rem;
    font-weight: bold;
    color: skyblue;
    background-color: white;
  }
  
  .time {
    display: inline-block;
  }
  